<h1>Calander</h1>
<h2>Please select a date for when you would like a cleaning.</h2>
<input type="text" id="datepicker">
<script>
    $(function() {
        $("#datepicker").datepicker();
    });
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            minDate: 0, // set minDate to 0 for today's date
            maxDate: '+3M', // set maxDate to +1M for one month from today
            dateFormat: 'yy-mm-dd' // set the date format
        });
    });
</script>
