@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave With A Smile Cleaning</title>
    <!-- Custom styles -->
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to Leave With A Smile!</h1>
            <p class="lead">Change me</p>
            <hr class="my-4">
            <p>Change me.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</body>

</html>